## This notebook is only used for the Applied Data Science Capstone on Coursera.

### Capstone Project Notebook

In [2]:
import pandas as pd 
import numpy as np

In [3]:
print('Hello Capstone Project Course')

Hello Capstone Project Course

### Segmenting and Clustering Neighborhoods in Toronto

Install dependencies for BeautifulSoup

In [16]:
!pip install BeautifulSoup4
from bs4 import BeautifulSoup
import requests

Requirement already satisfied: BeautifulSoup4 in c:\programdata\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from BeautifulSoup4) (2.0.1)

Pull data from wikipedia using BeautifulSoup

In [23]:
# Use the Notebook to build the code to scrape the following Wikipedia page, 
# https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order 
# to obtain the data that is in the table of postal codes and to transform 
# the data into a pandas dataframe
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html_content = requests.get(url).text
soup = BeautifulSoup(html_content, "lxml")

Search data for specified string associated with data of interest (Table)

In [93]:
table = soup.find("table", attrs={'class': 'wikitable'})
tds = table.tbody.find_all('tr')

#Get the header
headings = []
for td in tds[0].find_all('th'):
    headings.append(td.contents[0].strip()) 

headings

['Postal Code', 'Borough', 'Neighbourhood']

Loop through data to obtain rows of our dataframe. Elimination un-needed items and replacing some.

In [99]:
#The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
data = []

for tr in tds[1:]:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td]
    if not ('Not assigned' in row[1]):   #Ignore cells with a borough that is Not assigned.
        if 'Not assigned' in row[2]:
            row[2] = row[1]                 #Replace Neighbourhood for borough if 'Not assigned'.  
        data.append(row)
    
#create dataframe   
df = pd.DataFrame(data, columns=headings)

#combime Neighbourhoods with same postal code
df = df.groupby(["Postal Code", "Borough"])["Neighbourhood"].apply(", ".join).reset_index()
df

,Postal Code,Borough,Neighbourhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

In [89]:
#print the numbre of rows of your dataframe
print("Shape: ", df.shape)